Notebook 1, Module 1, Data and Data Management, CAS Applied Data Science, 2023-08-23, S. Haug, University of Bern.

Prerequisite for this notebook is some basic Python experience.

Please also look at the first batch of [these slides](https://docs.google.com/presentation/d/1BrlQQGDnEpr8lBiEd9uO-Kw2-WOInAEP-cv-xdUwB4Y/edit?usp=sharing) before doing this notebook. They offer an introduction to data.

ChatGPT is able to write most of the code needed for this notebook. Please use it if you like !

# 1. Data Management

Estimated study time is about 2 hours. According to your background and how much you want to learn, you may need more or less. You are supposed to google, read manuals and chat with others during working through this notebook in order to benefit fully.

**Learning outcomes - after completion you**
- Know about data sources, types and formats (see lecture slides via link above)
- Able to import and export data in Python
- Able to do simple things with dataframes in Python
- Know about data volumes, metadata and quality
- Able to plot histograms and scatter plots in Python (tomorrow)

**Documentation on Pandas DataFrame**
- Python: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

## Outline

     0. About data management
     1. Getting used to Jupyter notebooks / colab
     2. Import datasets into a Python dataframe
     3. Indexing on a dataframe
     4. Sorting
     5. Filtering
     6. Exporting
     7. Missing and bad data
     8. Metadata
     9. Working on the filesystem

Commonly used for data science with python is the use of pandas (a module of python with code written by other users). 
Below some ways to import data in the code environment (Colab or Jupyter notebook)

In [3]:
#import files from google Colab
from google.colab import files
uploaded=files.upload()

ModuleNotFoundError: No module named 'google'

In [4]:
import pandas as pd
url='https://raw.githubusercontent.com/sigvehaug/CAS-Applied-Data-Science/master/Module-1/iris.csv'
df=pd.read_csv(url)

In [5]:
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

ps.set_options('display_max_row')=None

#code above to display all data in the table

In [6]:
df.info()

#small dataset, see memory usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          149 non-null    float64
 3   0.2          149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [7]:
df.head() #to see the first rows

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [8]:
df.tail() #to see the last rows

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

Some of the thigs done above here were below in the paragraph, have a look!

### 0. About data management

Handling or managing data involves many steps and technologies at many levels. Data may be colleccted by sensors. It can be a camera, a temperature sensor, a telescope, a microscope (with a camera), a microphone, a particle detector etc. Normally the data is then digitised, maybe preprocessed and written to some media in a certain format, e.g. as a comma separated value (csv) file to a hard disk. This part of the data management is normally taken care of by engineers.

Data may also be collected from all sorts of databases, so data already collected somehow. Time series of financial data, customers, passengers, facebook likes, twitter tweets etc. This is data which is normally already on a media with some interface for access, e.g. paper to be read by a camera, a file on youtube, a table on wikipedia etc. We will look at some ways to collect such data. Some programming and computer skills are needed to do so. It may be that this part of the data management is taken care of by specialised computer scientists, but it may also be expected from a data scientist to have these skills.

Analysing data with statisitical and machine learning tools, requires that the data is colleceted, cleaned and prepared for the tools. This is very often a very large part of a data analytics project and a prerequisite. It may involve removing bad data, filter out redundant and noisy data, unify the formats and types, transform the data etc.
Thus, a data scientist must be able to perform this part of the data management. This notebook shows the basic operations with Python pandas. With other tools the concepts and operations are very similar.

After the data analysis, after the extraction of information and the creation of knowledge, the data is often stored or archived for the future (if this seems cheaper than regenerating the data at a later point). In larger institutions this part of the data management may include educated librarians and others, not necessarily the data scientist.  

**In this notebook we only look at a few examples on how to do datamanagement with dataframes. Pandas are extremly powerful and we cannot show everything in a couple of hours. You will become more and more experienced when you work on your module projects. Probably whatever you want to do with your dataframe, there is a way to do it. If not, it probably doesn't make much sense what wou want to do.**

Any questions?

### 1. Getting used to Jupyter computational notebooks and Colab

With Jupyter you can write rich text notebooks with executable code via your browser. There are several so-called kernels or computational back ends, i.e Python, R, Julia, bash etc can be supported. The text is written as Markdown. Latex is also supported (good for math). You can export the notebook in various formats, e.g. html. Everything can be done via the various tabs, however, the key shortcuts make you faster.

*Useful key combinations*

- Shift Enter or Control Enter = Run cell
- Option/Alt Enter = Run cell and Insert new cell below

### Exercise 1 (10 min)
- Change and run this cell
- Add a new cell and execute some python statement in it
- Study the tabs in the menu of your jupyter (lab) notebook

In [ ]:
# Write some more Python code here

### 2. Import a dataset into a Pandas DataFrame

Pandas is a Python Module for data analysis and manipulation and management. It has the data structure DataFrame which is quite powerful. Features

- DataFrame object for data management with integrated indexing.
- Tools for reading and writing data between in-memory data structures and different file formats.
- Data alignment and integrated handling of missing data.
- Reshaping and pivoting of data sets.
- Label-based slicing, fancy indexing, and subsetting of large data sets.
- Data structure column insertion and deletion.
- Group by engine allowing split-apply-combine operations on data sets.
- Data set merging and joining.
- Hierarchical axis indexing to work with high-dimensional data in a lower-dimensional data structure.
- Time series-functionality: Date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging.

The module is highly optimized for performance, with critical code parts written in Cython or C. Documentation here: https://pandas.pydata.org/pandas-docs/stable/api.html

For input/output (I/O) there are methods for reading EXCEL, SQL databases, HTML tables, clipboard, SAS, STATA etc.

In [ ]:
# Upload the local data file to colab

In [ ]:
# import the python module pandas with the abbreviation pd

# Read the data in the iris.csv file into a dataframe
# If you work on colab, you need the data file on colab of course

The dataframe method shows 50 rows per default. We can change this as we like:

Find out on wikipedia what this Iris data is about.

### Hint

There are some ways to get help about modules and methods in Jupyter:

One way is in Colab to simply type the object with . (example df.) and wait, the different options will appear. In Jupyter we can type the same and Tab. 

We can look for information about pandas function/methods in pandas.pydata.org 
we can also find some examples there.

Get help about this object, if there is any:

And, what you will probably use the most, the online package information and examples by googling or ChatGPT.

Suggestion: Chat GPT can help us out if we are able to say what we want. Will save us a lot of time. 
we can easily ask the code to do something and it may be able to help.

### Exercise 2 (10 min)

Read the Swiss BAG Corona data on deaths into a dataframe and look at it. The URL is
https://www.covid19.admin.ch/api/data/20230815-7ixiby4u/sources/COVID19Death_geoRegion_sex_w.csv

There are also json files on that server. If you want to use them instead, consult https://pandas.pydata.org/docs/reference/io.html in order to find out how to read a json file into a pandas dataframe.

In [ ]:
# Write your code here
pd.set_option('display.max_rows',20)
#url = 'https://www.covid19.admin.ch/api/data/20210823-4c27ic5b/sources/COVID19VaccPersons_v2.json'
url = 'https://www.covid19.admin.ch/api/data/20230815-7ixiby4u/sources/COVID19Death_geoRegion_sex_w.csv'

In [9]:
url='https://www.covid19.admin.ch/api/data/20230815-7ixiby4u/sources/COVID19Death_geoRegion_sex_w.csv'
df_covid19=pd.read_csv(url)

In [12]:
df_covid_json=pd.read_json('https://www.covid19.admin.ch/api/data/20210823-4c27ic5b/sources/COVID19VaccPersons_v2.json')

In [15]:
df_covid19['entries'].sum()

55927

### 3. Indexing on a DataFrame

By methods (we are back to our clean and simple Iris dataset):

Importing the dataset though it was without any header, so as first step we might want togive names to the columns by assigning the names

In [19]:
url='https://raw.githubusercontent.com/sigvehaug/CAS-Applied-Data-Science/master/Module-1/iris.csv'
df_iris=pd.read_csv(url, names=['slenght', 'swidht', 'plenght', 'pwithdt', 'species'])
df_iris

     slenght  swidht  plenght  pwithdt         species
0        5.1     3.5      1.4      0.2     Iris-setosa
1        4.9     3.0      1.4      0.2     Iris-setosa
2        4.7     3.2      1.3      0.2     Iris-setosa
3        4.6     3.1      1.5      0.2     Iris-setosa
4        5.0     3.6      1.4      0.2     Iris-setosa
..       ...     ...      ...      ...             ...
145      6.7     3.0      5.2      2.3  Iris-virginica
146      6.3     2.5      5.0      1.9  Iris-virginica
147      6.5     3.0      5.2      2.0  Iris-virginica
148      6.2     3.4      5.4      2.3  Iris-virginica
149      5.9     3.0      5.1      1.8  Iris-virginica

[150 rows x 5 columns]

It is still missing any kind of unit though, what are those numbers in unit?

In [21]:
# access single cell by integer numbers (row 149, column 0 / first column), faster that loc and iloc
df_iris['species']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species, Length: 150, dtype: object

In [24]:
df_iris.iat[0,0]

5.1

In [28]:
#usage of iloc to select only some data in a specified range (rows first, column after)
#we can only index backward i.e. using 2:-2 (where -2 is the second last entry)
df_iris.iloc[0:10,2:4]

   plenght  pwithdt
0      1.4      0.2
1      1.4      0.2
2      1.3      0.2
3      1.5      0.2
4      1.4      0.2
5      1.7      0.4
6      1.4      0.3
7      1.5      0.2
8      1.4      0.2
9      1.5      0.1

Indexing is fundamental, we need it when we work with data but we do it too when we're working with pictures

In [ ]:
# Assign a new value

Indexing a group/subset of the dataframe by loc (column names) or iloc (index)

**Important**
When you assign a (subset) of dataframe to a new one like above, no copy is made. This means that if you change values of the new frame, also the orginal frame will be changed. If you want a copy, you need to use the copy method.

Indexing by column names...

In [31]:
df_setosa_only=df_iris[df_iris['species']=='Iris-setosa']

In [32]:
df_setosa_only

    slenght  swidht  plenght  pwithdt      species
0       5.1     3.5      1.4      0.2  Iris-setosa
1       4.9     3.0      1.4      0.2  Iris-setosa
2       4.7     3.2      1.3      0.2  Iris-setosa
3       4.6     3.1      1.5      0.2  Iris-setosa
4       5.0     3.6      1.4      0.2  Iris-setosa
5       5.4     3.9      1.7      0.4  Iris-setosa
6       4.6     3.4      1.4      0.3  Iris-setosa
7       5.0     3.4      1.5      0.2  Iris-setosa
8       4.4     2.9      1.4      0.2  Iris-setosa
9       4.9     3.1      1.5      0.1  Iris-setosa
10      5.4     3.7      1.5      0.2  Iris-setosa
11      4.8     3.4      1.6      0.2  Iris-setosa
12      4.8     3.0      1.4      0.1  Iris-setosa
13      4.3     3.0      1.1      0.1  Iris-setosa
14      5.8     4.0      1.2      0.2  Iris-setosa
15      5.7     4.4      1.5      0.4  Iris-setosa
16      5.4     3.9      1.3      0.4  Iris-setosa
17      5.1     3.5      1.4      0.3  Iris-setosa
18      5.7     3.8      1.7      0.3  Iris-setosa
19      5.1     3.8      1.5      0.3  Iris-setosa
20      5.4     3.4      1.7      0.2  Iris-setosa
21      5.1     3.7      1.5      0.4  Iris-setosa
22      4.6     3.6      1.0      0.2  Iris-setosa
23      5.1     3.3      1.7      0.5  Iris-setosa
24      4.8     3.4      1.9      0.2  Iris-setosa
25      5.0     3.0      1.6      0.2  Iris-setosa
26      5.0     3.4      1.6      0.4  Iris-setosa
27      5.2     3.5      1.5      0.2  Iris-setosa
28      5.2     3.4      1.4      0.2  Iris-setosa
29      4.7     3.2      1.6      0.2  Iris-setosa
30      4.8     3.1      1.6      0.2  Iris-setosa
31      5.4     3.4      1.5      0.4  Iris-setosa
32      5.2     4.1      1.5      0.1  Iris-setosa
33      5.5     4.2      1.4      0.2  Iris-setosa
34      4.9     3.1      1.5      0.1  Iris-setosa
35      5.0     3.2      1.2      0.2  Iris-setosa
36      5.5     3.5      1.3      0.2  Iris-setosa
37      4.9     3.1      1.5      0.1  Iris-setosa
38      4.4     3.0      1.3      0.2  Iris-setosa
39      5.1     3.4      1.5      0.2  Iris-setosa
40      5.0     3.5      1.3      0.3  Iris-setosa
41      4.5     2.3      1.3      0.3  Iris-setosa
42      4.4     3.2      1.3      0.2  Iris-setosa
43      5.0     3.5      1.6      0.6  Iris-setosa
44      5.1     3.8      1.9      0.4  Iris-setosa
45      4.8     3.0      1.4      0.3  Iris-setosa
46      5.1     3.8      1.6      0.2  Iris-setosa
47      4.6     3.2      1.4      0.2  Iris-setosa
48      5.3     3.7      1.5      0.2  Iris-setosa
49      5.0     3.3      1.4      0.2  Iris-setosa

Selecting (filtering) by column valuess_df = dataframe[dataframe['species']=='Iris-setosa']

In [ ]:
#operations on the df are called vectorization
#when doing an operation like df/2 we have to be careful on the data type

NOTE: python assign automatically data type without any needs for variable declaration. This is common in higher linguages. Declaration is implicit.

Vectorized dataframe manipulations...

In [34]:
df_setosa_only['plenght']*2

0     2.8
1     2.8
2     2.6
3     3.0
4     2.8
5     3.4
6     2.8
7     3.0
8     2.8
9     3.0
10    3.0
11    3.2
12    2.8
13    2.2
14    2.4
15    3.0
16    2.6
17    2.8
18    3.4
19    3.0
20    3.4
21    3.0
22    2.0
23    3.4
24    3.8
25    3.2
26    3.2
27    3.0
28    2.8
29    3.2
30    3.2
31    3.0
32    3.0
33    2.8
34    3.0
35    2.4
36    2.6
37    3.0
38    2.6
39    3.0
40    2.6
41    2.6
42    2.6
43    3.2
44    3.8
45    2.8
46    3.2
47    2.8
48    3.0
49    2.8
Name: plenght, dtype: float64

Grouping ...

In [35]:
#for example by the use of the mean

df_setosa_only['plenght'].mean()

1.464

vectorized manipulation is very useful, also called matrix manipulation it can be applied to pictures, that are only matrices of pixels. By applying scalars like *2 or dividing we automatically apply an offset or reduce teh image

In [37]:
#to print the no. of groups in my collection after grouping
gdf=df_iris.groupby('species')
print(gdf.ngroups)  #if we type only print(gdf) it would tell us only where the file is located. We need to specify an attribute.

3

In [40]:
df_iris_v=gdf.get_group('Iris-virginica')
df_iris_v

     slenght  swidht  plenght  pwithdt         species
100      6.3     3.3      6.0      2.5  Iris-virginica
101      5.8     2.7      5.1      1.9  Iris-virginica
102      7.1     3.0      5.9      2.1  Iris-virginica
103      6.3     2.9      5.6      1.8  Iris-virginica
104      6.5     3.0      5.8      2.2  Iris-virginica
105      7.6     3.0      6.6      2.1  Iris-virginica
106      4.9     2.5      4.5      1.7  Iris-virginica
107      7.3     2.9      6.3      1.8  Iris-virginica
108      6.7     2.5      5.8      1.8  Iris-virginica
109      7.2     3.6      6.1      2.5  Iris-virginica
110      6.5     3.2      5.1      2.0  Iris-virginica
111      6.4     2.7      5.3      1.9  Iris-virginica
112      6.8     3.0      5.5      2.1  Iris-virginica
113      5.7     2.5      5.0      2.0  Iris-virginica
114      5.8     2.8      5.1      2.4  Iris-virginica
115      6.4     3.2      5.3      2.3  Iris-virginica
116      6.5     3.0      5.5      1.8  Iris-virginica
117      7.7     3.8      6.7      2.2  Iris-virginica
118      7.7     2.6      6.9      2.3  Iris-virginica
119      6.0     2.2      5.0      1.5  Iris-virginica
120      6.9     3.2      5.7      2.3  Iris-virginica
121      5.6     2.8      4.9      2.0  Iris-virginica
122      7.7     2.8      6.7      2.0  Iris-virginica
123      6.3     2.7      4.9      1.8  Iris-virginica
124      6.7     3.3      5.7      2.1  Iris-virginica
125      7.2     3.2      6.0      1.8  Iris-virginica
126      6.2     2.8      4.8      1.8  Iris-virginica
127      6.1     3.0      4.9      1.8  Iris-virginica
128      6.4     2.8      5.6      2.1  Iris-virginica
129      7.2     3.0      5.8      1.6  Iris-virginica
130      7.4     2.8      6.1      1.9  Iris-virginica
131      7.9     3.8      6.4      2.0  Iris-virginica
132      6.4     2.8      5.6      2.2  Iris-virginica
133      6.3     2.8      5.1      1.5  Iris-virginica
134      6.1     2.6      5.6      1.4  Iris-virginica
135      7.7     3.0      6.1      2.3  Iris-virginica
136      6.3     3.4      5.6      2.4  Iris-virginica
137      6.4     3.1      5.5      1.8  Iris-virginica
138      6.0     3.0      4.8      1.8  Iris-virginica
139      6.9     3.1      5.4      2.1  Iris-virginica
140      6.7     3.1      5.6      2.4  Iris-virginica
141      6.9     3.1      5.1      2.3  Iris-virginica
142      5.8     2.7      5.1      1.9  Iris-virginica
143      6.8     3.2      5.9      2.3  Iris-virginica
144      6.7     3.3      5.7      2.5  Iris-virginica
145      6.7     3.0      5.2      2.3  Iris-virginica
146      6.3     2.5      5.0      1.9  Iris-virginica
147      6.5     3.0      5.2      2.0  Iris-virginica
148      6.2     3.4      5.4      2.3  Iris-virginica
149      5.9     3.0      5.1      1.8  Iris-virginica

### 4. Sorting on a DataFrame

...

In [ ]:
#adf = pd.read_csv('iris.csv',names=['slength','swidth','plength','pwidth','species'])

In [47]:
df_iris.sort_values(['plenght','pwithdt'] )

     slenght  swidht  plenght  pwithdt         species
22       4.6     3.6      1.0      0.2     Iris-setosa
13       4.3     3.0      1.1      0.1     Iris-setosa
14       5.8     4.0      1.2      0.2     Iris-setosa
35       5.0     3.2      1.2      0.2     Iris-setosa
2        4.7     3.2      1.3      0.2     Iris-setosa
..       ...     ...      ...      ...             ...
131      7.9     3.8      6.4      2.0  Iris-virginica
105      7.6     3.0      6.6      2.1  Iris-virginica
122      7.7     2.8      6.7      2.0  Iris-virginica
117      7.7     3.8      6.7      2.2  Iris-virginica
118      7.7     2.6      6.9      2.3  Iris-virginica

[150 rows x 5 columns]

You may measure the time needed for the execution, e.g. with the operating system command "time". System commands are executed with a %:

NOTE: %time is actually a Linux command. Colab is also working on Linux

In [48]:
#this will be useful when we need to work on big files, like images and we have a lot of them
#make sense to check how much time is going to take to execute
%time df_iris.sort_values(['plenght','pwithdt'] )

CPU times: total: 31.2 ms
Wall time: 15.6 ms

     slenght  swidht  plenght  pwithdt         species
22       4.6     3.6      1.0      0.2     Iris-setosa
13       4.3     3.0      1.1      0.1     Iris-setosa
14       5.8     4.0      1.2      0.2     Iris-setosa
35       5.0     3.2      1.2      0.2     Iris-setosa
2        4.7     3.2      1.3      0.2     Iris-setosa
..       ...     ...      ...      ...             ...
131      7.9     3.8      6.4      2.0  Iris-virginica
105      7.6     3.0      6.6      2.1  Iris-virginica
122      7.7     2.8      6.7      2.0  Iris-virginica
117      7.7     3.8      6.7      2.2  Iris-virginica
118      7.7     2.6      6.9      2.3  Iris-virginica

[150 rows x 5 columns]

In [49]:
# list the file in your current directory with the linux command ls

%ls -1

 Volume in drive C is SSD
 Volume Serial Number is F487-25F0

 Directory of C:\Users\Asus\Documents\CAS_2023\01. Data acquisition and management\Jupyter_notebook_file

File Not Found

Here is a cheat sheet for common linux commands: https://files.fosswire.com/2007/08/fwunixref.pdf

### 5. Filtering on a DataFrame
...

In [ ]:
# Create a dataframe with a one column telling if slength is larger than 5.0
# Returns a vector with booleans

In [ ]:
# We can apply the filtering result to a new dataframe

In [ ]:
# And print it

### 6. Missing or bad data

Datasets, before they are "cleaned", may contain missing or wrongly formated values. There are DataFrame methods to deal with this:

- DataFrame.dropna([axis, how, thresh, …])	Remove missing values.
- DataFrame.fillna([value, method, axis, …])	Fill NA/NaN values using the specified method
- DataFrame.replace([to_replace, value, …])	Replace values given in to_replace with value.
- DataFrame.interpolate([method, axis, limit, …])	Interpolate values according to different methods.

Retrieving and cleaning data is often the most time consuming part in a data science project.

Often there is missing data: commonly with user input.
If we have missing data and we have a lot of data we could exclude the serie with missing data, but especially if we don't have many data any data is important so we could think about replacing bad data with some other meaningful (and not so harmful) data. 
It is practical to do it with a method (one pandas command and it execute).

### 7. Exporting dataframes (I/O)

DataFrame has several export methods. (html, hdf5, ascii, excel etc). Let's write our file to a text file in a csv format.

In [50]:
#we have our cleaned data now and we don't wanna lose it, so we can save
df_iris.to_csv('clean_iris.csv')

In [51]:
%ls -1 #note, this command works in Colab as linux machine but not here in window

 Volume in drive C is SSD
 Volume Serial Number is F487-25F0

 Directory of C:\Users\Asus\Documents\CAS_2023\01. Data acquisition and management\Jupyter_notebook_file

File Not Found

What happens with our files when we close our colab session?

### 8. Metadata


Metadata is data about the data, e.g. when was it collected, under which conditions, calibration etc.
Metadata is normally not part of the statistical data analysis, however, needed for understanding and reproducibilty.

DataFrame is not really made for storing metadata (should be done separately), but one can add new attributes to a dataframe:

Data repositories often use so-called Data Cards for metadata. See for example: https://www.kaggle.com/datasets/uciml/iris

### 9. Working on the filesystem with the os module

When managing large datasets, one often has to organise files in the file system. This includes finding them, moving and copying them, creating new folders/directories, renaming them etc. This can easily be done from Python with the os (operating system) module.

Try to understand the following code and alter it to do something else.

In [ ]:
import os

new_dir = os.getcwd() +'/newnbdir' # Get the current directory into a string, add /newnbdir to the string
os.makedirs(new_dir) # Create the folder
files = os.listdir() # List the files in the current folder
nb_files = [] # Create an empty list
for file in files:
    if 'ipynb' in file and file[0]!='.':
        nb_files.append(file)
for file in nb_files:
    os.system('cp '+file+' '+new_dir+'/')

In [ ]:
!ls -l newnbdir

### Exercise 3 (this we may skip if not enough time)

Read in the iris dataset from iris.csv into a dataframe. Set the values in column 1 in row 39, 49 and 100 to NaN (use the nan method from the numpy package). Then replacethe NaN values to the average value of the respective column. Depending on how you do it, this may be about 10 lines of Python code.

In [91]:
# Solve your exercise here

import pandas as pd
import numpy as np
url='https://raw.githubusercontent.com/sigvehaug/CAS-Applied-Data-Science/master/Module-1/iris.csv'
df_iris=pd.read_csv(url, names=['slength','swidth','plength','pwidth','species'])
df_iris

     slength  swidth  plength  pwidth         species
0        5.1     3.5      1.4     0.2     Iris-setosa
1        4.9     3.0      1.4     0.2     Iris-setosa
2        4.7     3.2      1.3     0.2     Iris-setosa
3        4.6     3.1      1.5     0.2     Iris-setosa
4        5.0     3.6      1.4     0.2     Iris-setosa
..       ...     ...      ...     ...             ...
145      6.7     3.0      5.2     2.3  Iris-virginica
146      6.3     2.5      5.0     1.9  Iris-virginica
147      6.5     3.0      5.2     2.0  Iris-virginica
148      6.2     3.4      5.4     2.3  Iris-virginica
149      5.9     3.0      5.1     1.8  Iris-virginica

[150 rows x 5 columns]

In [93]:
#df1.loc['d':, 'A':'C']

df_iris.loc[[39,49,100], 'slength']= np.nan
df_iris_Nan=df_iris.loc[[39,49,100], 'slength']
#df_iris_Nan[df_iris_Nan.slenght == 'NaN']['slenght']=np.nan
#df[df.y == 'N/A']['y'] = np.nan

In [94]:
pd.isnull(df_iris_Nan)

39     True
49     True
100    True
Name: slength, dtype: bool

In [100]:
slenght_mean=df_iris['slength'].mean()
df_iris.loc[[39,49,100], 'slength']=slenght_mean
df_iris.loc[[39,49,100], 'slength']

39     5.85102
49     5.85102
100    5.85102
Name: slength, dtype: object

### Exercise 4

Print a sorted list of the weeks and the male deadths with COVID-19 in Switzerland. The weeks with the highest numbers should appear first. This should be doable with about 10 lines of Python. You may need 30 minutes to solve this one.

In [ ]:
import pandas as pd
#url = 'https://www.covid19.admin.ch/api/data/20210824-jrvdp23s/sources/COVID19Test_geoRegion_all.json'
#df_cov = pd.io.json.read_json(url)
#url = 'https://www.covid19.admin.ch/api/data/20210824-jrvdp23s/sources/COVID19Death_geoRegion_sex_w.csv'
url = 'https://www.covid19.admin.ch/api/data/20230815-7ixiby4u/sources/COVID19Death_geoRegion_sex_w.csv'

# End of today - please fill this form

https://forms.gle/bzDpGLUieVnheZUi6.
Have a nice evening and see you tomorrow.